header { 
    background-color: #94c2cd; 
    padding: 1rem; 
    text-align: center;
    margin-bottom: 20px;
}

.title {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; /* Center content vertically */ 
    align-items: center; /* Center content horizontally */
}
  
.item {
    background-color: #5ca99e;   
    color: var(--clr-light);
    text-align: center;
    border: 1px solid black;    
}

.item-title {   
    font-size: 1rem;
}

.container { 
    display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    grid-template-rows: auto; /* Auto-height rows */ 
    gap: 10px; /* Space between grid items */ 
} 

.item-summary { 
    grid-column: span 10; /* Span all 3 columns */    
    padding: 10px; 
    display: flex; 
    flex-direction: column; 
    align-items: center; /* Center items horizontally (optional) */ 
    gap: 1rem;
} 
    
.item-controls { 
    grid-column: span 1; 
    padding: 10px; 
} 

.item-main { 
    grid-column: span 6; /* Span 6 columns */ 
    padding: 10px; 
} 

.item-tendency { 
    grid-column: span 5; 
    padding: 10px;
} 

.item-raw { 
    grid-column: span 12; 
    padding: 10px; 
}


